@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

body{
    background-image: url("../imgs/tierra.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

main{
    /* Usamos display flex para centrar vertical y horizontalmente el contenido dentro del main. */
    display: flex;
    /* Esto centra horizontalmente. */
    justify-content: center;
    /* Esto centra verticalmente. */
    align-items: center;
    /* Le ponemos una altura minima del 100% de la altura del dispositivo. 
    Para permitir que pueda aumentar su altura si lo necesita*/
    min-height: 100vh;
}

/* Creamos un div dentro del main el cual estará centrado. */
main>div{
    width: 80%;
    /* Tiene una altura mínima del 80% de la pestaña del navegador */
    min-height: 80vh;
    margin: 10px 0;
    padding: 2% 5%;
    border-radius: 20px;
    /* Utilizamos un color con transparencia para el fondo del div, así se podrá ver la imagen de fondo. */
    background-color: #002141a0;
    border: 1px solid white;
    /* Le ponemos una sombra a la caja el primer numero indica el desplazamiento horizontal, el segundo el vertical, 
    el tercero el radio de difuminado */
    box-shadow: 5px 5px 10px black;
    display: flex;
    flex-direction: column;
    /* Esto mete espacio entre items si no ocupan el 100% del espacio */
    justify-content: space-between;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: white;
}
table{
    font-family: 'Roboto', sans-serif;
    max-width: 80%;
    margin: auto;
    background-color: lightgray;
    border-collapse: collapse;
}

th,td{
    border: 2px black solid;
}

th{
    background-color: gray;
}

td{
    width: 20%;
}

/* Div dentro de la celda para poner un scroll si sobrepasa 200px */
.scroll{
    width: 100%;
    max-height: 200px;
    margin: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    /* Si sobrepasa los 200 pixeles (el max-height) overflow auto hace que aparezca una barra de scroll */
    overflow: auto;
}

td img{
    width: 100%;
    vertical-align: middle;
}

td ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* Usamos flex para centrar los enlaces los elementos de la lista */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td li{
    min-width: 60%;
}

a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    /* Usamos flex para centrar el texto del enlace */
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    background-color: #b9b9b9;
}