body {
    background-image: url("../imgs/tierra.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

main {
    /* Usamos display flex para colocar las dos opciones centradas en una columna */
    display: flex;
    /* Esto indica que los items estarán colocados en columna */
    flex-direction: column;
    /* Esto que están justificados al centro */
    justify-content: center;
    /* Esto que están verticalmente centrados */
    align-items: center;
    height: 100vh;
    row-gap: 5%;
}

a {
    width: 20%;
    height: 10%;
    font-size: 3rem;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    /* Centramos el enlace dentro del borde usando display flex */
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    background-color: gray;
}