
#divvistaMapa{
    background-color: darkcyan;
    color:whitesmoke;
    background-image: url("../imgs/mapamundi.png");
}

#divvistaCont{
    background-color: darkolivegreen;
}

body > div{ /*Divs detrás del body*/
    display:none;
}

#divvista1>p{
    cursor: pointer;
}
#divvista1>p:hover{
    color:blue;
    text-decoration: underline;
}