@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

body {
    margin: 0;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

a {
    cursor: pointer;
}

/* vista divvistaMenu */

#divvistaMapa,
#divvistaProb,
#divvistaConf,
#divvistaRef,
#divvistaFech,
#divvistaCont,
#divvistaRank,
#divvistaForm {
    display: none;
}

#divvistaMenu main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    row-gap: 5%;
    background-image: url("../img/imagenFondo.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#divvistaMenu img {
    width: 20%;
    border-radius: 200px;
}

#divvistaMenu div {
    width: 100%;
}

#tituloLogo {
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
}

#opcionesMenu {
    display: flex;
    justify-content: center;
    column-gap: 5%;
}

#divvistaMenu a {
    width: 20%;
    font-size: 2rem;
    padding: 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#divvistaMenu a:hover {
    background-color: #002041;
    border: 2px solid white;
    color: white;
    box-shadow: 5px 5px 10px white;
}


/* Navegador general */

nav {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 10vh;
    background-color: #002041;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 30%;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

nav li {
    height: 50%;
}

nav a {
    text-decoration: none;
    height: 100%;
    padding: 0 20px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.puntosMensaje {
    cursor: default;
}


/* vista divvistaMapa */

#divvistaMapa {
    background-image: url("../img/fondoMapa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100vh;
}

#divvistaMapa main {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-height: 90vh;
    /* El aspect-ratio de la imagen de fondo, el tablero de juego, para posteriormente poder colocar las marcas en el
    mapamundi con posicionamiento absoluto con porcentajes y que no se descuadre */
    aspect-ratio: 577/333;
    background-image: url("../img/mapamundi.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


#boton_eu1 {
    position: absolute;
    transform: translate(-50%, 0%);
    bottom: 65%;
    right: 47%;
    cursor: pointer;
}

#boton_eu2 {
    position: absolute;
    transform: translate(-50%, 0%);
    bottom: 70%;
    right: 25%;
    cursor: pointer;
}

#boton_eu3 {
    position: absolute;
    transform: translate(-50%, 0%);
    bottom: 20%;
    right: 10%;
    cursor: pointer;
}

#boton_eu4 {
    position: absolute;
    transform: translate(-50%, 0%);
    bottom: 70%;
    left: 15%;
    cursor: pointer;
}

#boton_eu5 {
    position: absolute;
    transform: translate(-50%, 0%);
    bottom: 25%;
    left: 28%;
    cursor: pointer;
}

#boton_eu6 {
    position: absolute;
    transform: translate(-50%, 0%);
    bottom: 45%;
    right: 45%;
    cursor: pointer;
}

#divvistaMapa img {
    height: 20%;
}

.cuadro-texto {
    position: absolute;
    left: 1%;
    bottom: 1%;
    height: 50%;
    width: 13%;
    border-radius: 20px;
    padding: 2.5%;
    background-color: #002041;
    color: white;
    text-align: center;
    overflow: hidden;
    overflow-wrap: break-word;
}


/* Vista divvistaConf / Vista divvistaProb */

.divProbConf h2 {
    height: 10vh;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divProbConf {
    height: 100vh;
    background-image: url("../img/fondoMapa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}

.info {
    background-color: #ffffffcc;
    box-shadow: 0px 0px 40px black;
    width: 60%;
    height: 75vh;
    margin: 4% 1.5% 0px 4%;
    padding: 1%;
    float: left;
    text-align: center;
    border-radius: 20px;
}

.info img {
    max-height: 30vh;
    max-width: 100%;
    margin: auto;
}

.infoTexto {
    height: 35%;
    overflow: auto;
    margin-top: 5vh;
}

.preguntaContainer {
    font-weight: bolder;
}

.seleccion {
    background-color: #ffffffcc;
    box-shadow: 0px 0px 40px black;
    width: 22.5%;
    min-height: 50vh;
    max-height: 75vh;
    margin: 4% 4% 0 1.5%;
    padding: 1%;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border-radius: 20px;
    overflow: auto;
}

.seleccion h2 {
    font-weight: normal;
}

.seleccion button {
    font-size: 18px;
    min-height: 10vh;
    width: 90%;
    border-radius: 20px;
    margin: 0 auto;
    overflow: hidden;
    overflow-wrap: break-word;
}

.seleccion button:hover {
    background-color: rgb(210, 210, 210);
}

.opcionesContainer {
    min-height: 10vh;
    margin: 5px;
}

/* Vista divvistaRef*/

#divvistaRef {
    background-image: url("../img/fondoMapa.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#divvistaRef main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divReflexion {
    width: 70%;
    height: 30vh;
    background-color: #ffffffcc;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 40px black;
    border-radius: 20px;
    overflow: hidden;
}

#divReflexion h1 {
    font-weight: bolder;
    font-size: x-large;
}

#divReflexion button {
    height: 3vh;
    width: 10%;
    border-radius: 20px;
}

#divReflexion button:hover {
    background-color: rgb(210, 210, 210);
}

/* Vista divvistaRef*/

#divvistaFech {
    background-image: url("../img/fondoMapa.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#divvistaFech main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divFecha {
    width: 70%;
    height: 30vh;
    background-color: #ffffffcc;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 40px black;
    border-radius: 20px;
    overflow: hidden;
}

#divFecha h1 {
    font-weight: bolder;
    font-size: x-large;
}

#divFecha button {
    height: 3vh;
    width: 10%;
    border-radius: 20px;
}

#divFecha button:hover {
    background-color: rgb(210, 210, 210);
}

/* Vista divvistaRank*/

#divvistaRank {
    background-image: url("../img/ranking.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#divvistaRank main {
    height: calc(100vh - 10vh);
    display: flex;
    align-items: center;
}

#divvistaRank div {
    margin: 0 auto;
    width: 40%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #ffffffcc;
    padding: 5% 5%;
}

#divvistaRank table {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0.5rem 1rem;
    margin: 0 auto;
}

#divvistaRank th {
    height: 7vh;
}

#divvistaRank td {
    height: 5vh;
}

#divvistaRank td,
th {
    vertical-align: middle;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

#divvistaRank td:first-child {
    width: 70%;
}

#top1 {
    background-color: #FFD700 !important;
}

#top2 {
    background-color: #C0C0C0 !important;
}

#top3 {
    background-color: #CD7F32 !important;
}

/* Vista divvistaForm*/

#divvistaForm {
    height: 100vh;
    width: 100%;
    background-image: url("../img/fondoPuntuacion.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#divvistaForm main {
    height: 100vh;
    display: flex;
    align-items: center;
}

#divvistaForm div {
    margin: 0 auto;
    width: 40%;
    height: 60%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #ffffffcc;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#divvistaForm h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin: 0 0 20px;
}

#divvistaForm form {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#divvistaForm input[type="text"] {
    width: 100%;
    height: 40px;
    font-size: 2rem;
    text-align: center;
    border-radius: 15px;
    background-color: white;
}

#divvistaForm .puntosMensaje {
    width: 60%;
    text-align: center;
    height: 20%;
    font-size: 2rem;
    background-color: #09A8C9;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#divPuntuacion input[type="submit"],
#divPuntuacion button {
    padding: 5px;
    box-sizing: content-box;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    width: 40%;
}

#divPuntuacion input:hover[type="submit"],
#divPuntuacion button:hover {
    background-color: #d7d7d7;
    cursor: pointer;
}

#divvistaForm aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#usernameError {
    font-family: 'Roboto', sans-serif;
    max-width: 300px;
}

/* JavaScript */
.marcado {
    background-color: gray;
}

.respuestaCorrecta {
    background-color: greenyellow;
}

.respuestaIncorrecta {
    background-color: red;
}

.respuestaCorrectaNoMarcada {
    background-color: yellow;
}