@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

body {
    margin: 0;
    background-color: white;
    font-family: 'Poppins', sans-serif;;
}

a {
    cursor: pointer;
}

/* vista divvistaMenu */

#divvistaMenu main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    row-gap: 5%;
    background-image: url("../img/imagenFondo.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#divvistaMenu img {
    width: 20%;
    border-radius: 200px;
}

#divvistaMenu div {
    width: 100%;
}

#tituloLogo {
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
}

#opcionesMenu {
    display: flex;
    justify-content: center;
    column-gap: 5%;
}

#divvistaMenu a {
    font-size: 3rem;
    padding: 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#divvistaMenu a:hover {
    background-color: #002041;
    border: 2px solid white;
    color: white;
    box-shadow: 5px 5px 10px white;
}


/* Navegador general */

nav {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 10vh;
    background-color: #002041;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 30%;
    margin: 0  auto;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

nav li {
    height: 50%;
}

nav a {
    text-decoration: none;
    height: 100%;
    padding: 0 20px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.puntosMensaje{
    cursor: default;
}


/* vista divvistaMapa */

#divvistaMapa{
    background-image: url("../img/fondoMapa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100vh;
}

#divvistaMapa main {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-height: 90vh;
    /* El aspect-ratio de la imagen de fondo, el tablero de juego, para posteriormente poder colocar las marcas en el
    mapamundi con posicionamiento absoluto con porcentajes y que no se descuadre */
    aspect-ratio: 577/333;
    background-image: url("../img/mapamundi.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#boton_eu1{
    position: absolute;
    top: 18%;
    right: 47%;
    cursor: pointer;
}

#boton_eu2{
    position: absolute;
    top: 22%;
    right: 28%;
    cursor: pointer;
}

#boton_eu3{
    position: absolute;
    bottom: 18%;
    right: 10%;
    cursor: pointer;
}

#boton_eu4{
    position: absolute;
    top: 18%;
    left: 15%;
    cursor: pointer;
}

#boton_eu5{
    position: absolute;
    bottom: 25%;
    left: 28%;
    cursor: pointer;
}

#boton_eu6{
    position: absolute;
    top: 43%;
    right: 47%;
    cursor: pointer;
}

#divvistaMapa img{
    height: 130px;
}

.cuadro-texto{
    position: absolute;
    left: 1%;
    bottom: 1%;
    height: 50%;
    width: 13%;
    border-radius: 20px;
    padding: 2.5%;
    background-color: #002041;
    color: white;
}

/* Vista divvistaProb*/

.maainJuego>div {
    height: 60%;
    width: 60%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #ffffffcc;
    padding: 5% 5%;
}


/* Vista divvistaConf*/


/* Vista divvistaProb*/


/* Vista divvistaRank*/

#divvistaRank{
    background-image: url("../img/ranking.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#divvistaRank main{
    height: calc(100vh - 10vh);
    display: flex;
    align-items: center;
}

#divvistaRank div{
    margin: 0 auto;
    width: 40%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #ffffffcc;
    padding: 5% 5%;
    display: flex;
}

#divvistaRank table {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0.5rem 1rem;
    margin: 0 auto;
}

#divvistaRank th {
    height: 7vh;
}

#divvistaRank td {
    height: 5vh;
}

#divvistaRank td,
th {
    vertical-align: middle;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

#divvistaRank td:first-child {
    width: 70%;
}

#top1 {
    background-color: #FFD700 !important;
}

#top2 {
    background-color: #C0C0C0 !important;
}

#top3 {
    background-color: #CD7F32 !important;
}

/* Vista divvistaForm*/

#divvistaForm main {
    height: 70vh;
    width: 60%; /* Cambiado a 60% para dejar espacio al menú */
    border: 2px solid black;
    border-radius: 20px;
    background-color: #ffffffcc;
    padding: 5% 5%;
    margin: 0 auto;
    display: flex;
}

#divvistaForm div {
    height: 80%; 
    width: 80%; 
    margin: 0 auto; 
}

#divvistaForm h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin: 0 0 20px;
}

#divvistaForm form {
    width: 100%;
    height: 100%;
    position: relative;
}

#divvistaForm input[type="text"] {
    width: 60%;
    height: 40px;
    font-size: 2rem;
    text-align: center;
    border-radius: 15px;
    background-color: white;
}

#divvistaForm .puntosMensaje {
    width: 35%;
    height: 40px;
    font-size: 2rem;
    background-color: #09A8C9;
    border: 2px solid black;
    border-radius: 15px;
}

#divvistaForm input[type="submit"],
#divPuntuacion a {
    width: 30%;
    height: 40px;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

#divvistaForm input[type="submit"] {
    font-family: 'Roboto', sans-serif;
}

#divvistaForm a {
    align-items: center;
    justify-content: center;
}

#divvistaForm input:hover[type="submit"],
#divPuntuacion a:hover {
    background-color: #d7d7d7;
    /* Para que el submit muestre la manita para hacer click cuando haces hover */
    cursor: pointer;
}

#usernameError {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50% !important;
    left: 50% !important;
}